@charset "utf-8";
/* CSS Document */
.topbtmrgn {
	margin:2em 0;
}
.abthdr {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fd9324;
	margin:0px;
}
.abtpara {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #565656;
	text-align:justify;
	line-height: 2.10em;
	margin: 2% 0;
}
.abtftrs {
	background:url(../images/yokohama-wallpaper-1366x768.jpg) center no-repeat fixed;
}
.abthdrftr {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fd9324;
	text-align:center;
	margin-top:1em;
}
.abftrtpara {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #535763;
	text-align:center;
	margin: 1% 0;
}
.abtfrttxt {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #565656;
	margin:0;
}
.ftrmrgn {
	margin:2% 0
}
.mabhdrftr {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fd9324;
	text-align:center;
	margin-top:1em;
}
.orftrpara {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#565656;
	text-align:center;
	margin: 2% 0;
	line-height: 1.50em;
}
.ormsnftr {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #535763;
	margin-top:1em;
	text-align:center;
}
.ormsnpara {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#565656;
	text-align:justify;
	margin: 2% 0;
	line-height: 1.50em;
}
.orftrmrgn {
	margin-bottom:2em;
}