#wrapper {
    width: 100%;
}
#page-wrapper {
    padding:5em 2em 2.5em;
	background-color: #F8F8F8;
}
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar .arrow {
    float: right;
	font-size: 13px;
	padding-top:5px;
}

.sidebar .fa.arrow:before {
    content:  "\f105";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
	margin-bottom: 0;
}

.sidebar .nav-second-level li a {
    padding-left: 16%;
    font-size: .9em;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
.collapse.in {
    display: block;
    background: #fff !important;
}
.bcktlst {
	background: #ff6c60;
    color: #fff;
	border-color:#ff6c60;
}
.bcktlst:hover {
	background: #ff6c60;
    color: #fff;
	border-color:inherit;
	
}
.bdr {
	border-bottom: 1px solid #f5f5f5;
    margin: 10px;
}
.lblfnt {
	font-size: 14px;
}
.sidbr {
	    margin-left: 10%;
		
}
.lisd {
	color: rgb(117, 121, 139) !important;
}
/*---------------Add client----------------*/
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
	background-color: rgb(6, 217, 149) !important;
border-color: rgb(6, 217, 149) !important;
}
.prvbtn {
	    color: #fff;
    background-color: #ff6c60;
}
.btn-default {
	 background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
}
.btn-default:hover {
	 background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
}
.stp1 {
	background: #99CF17;
	color: #fff;
	border: 1px solid #99CF17 !important;
}
.stp2 {
	background: #9089BD;
	color: #fff;
	border: 1px solid #9089BD!important;
}
.stp3 {
	background: #FFCC00;
	color: #fff;
	border: 1px solid #FFCC00 !important;
}
.stp4 {
	background: #038BBD;
	color: #fff;
	border: 1px solid #038BBD !important;
}
.stp5 {
	background: #FE9900;
	color: #fff;
	border: 1px solid #FE9900 !important;
}
/*--------clients----------------*/
.mdlhdr {
	font-family: 'Open Sans', sans-serif;
	color: #777777;
}
.tbbdr {
	border: 1px solid #797979 !important;
	border-radius: 4px !important;
	padding: 9px 6px !important;
}
.stp1 {
	background: #99CF17;
	color: #fff;
	border: 1px solid #99CF17 !important;
}
.stp2 {
	background: #9089BD;
	color: #fff;
	border: 1px solid #9089BD!important;
}
.stp3 {
	background: #FFCC00;
	color: #fff;
	border: 1px solid #FFCC00 !important;
}
.stp4 {
	background: #038BBD;
	color: #fff;
	border: 1px solid #038BBD !important;
}
.stp5 {
	background: #FE9900;
	color: #fff;
	border: 1px solid #FE9900 !important;
}
/*------------vertical tabs----------*/
.cltnm {
	color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.cltmil {
    font-size: 13px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar { 
    width: 100%;
    padding: 5px 0;
    padding-bottom: inherit; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #f8f8f8; 
    color: #00BCD4; 
	border-left: 5px solid #038BBD;
}
.nav-sidebar a:hover {
    background-color: #E50000;   
	border-left: 5px solid #038BBD;
	background:#f1f1f1 !important;
	
}
.libtmbdr {
    border-bottom: 1px solid #ccc;
	font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.nav-sidebar .active a:hover {
    background-color: #E50000;   
	border-left: 3px solid #000;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: #ffffff;
    background-color: #E50000;
    border-color: #E50000;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#0b56a8;
    border-color: #0b56a8;
}
article h2{color:#333333;}
h2{color:#0b56a8;}
 .margin10{margin-bottom:10px; margin-right:10px;}
 
 .container .text-style
{
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px;
}
/*-----------opportuntiy page----------*/
.crtbtna {
    color: #fff;
}
.tblthd {
        color: #434343 !important;
    /*font-family: "Open Sans", sans-serif;*/
    font-size: 13px;

}
.tables .table > thead {
	border:inherit !important;
}
.tbdy {
	    font-family: "Open Sans", sans-serif !important;
    	font-size: 13px;
}
.crtbtnbtm {
	    border-bottom: 1px solid #f5f5f5;
 		margin-bottom: 5px;
}
.edtbtn {
	    font-size: 13px;
 		text-decoration: none !important;
}
.actnul {
	    list-style-type: none;
    display: inline-flex
}
/*----------client profile-------------*/
.cltprf { 
    -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    background: #038BBD;
    padding: 5px;
    text-align: center;
    margin-bottom: inherit;
}

/*---------------------tooltip--------------*/
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media(min-width:768px){
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/*-------------toggle switch--------------*/
.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}
.toggle{position:relative;overflow:hidden}
.toggle input[type=checkbox]{display:none; }
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{min-width:59px;min-height:34px}
.toggle-on.btn{padding-right:24px; background-color: #00BCD4 !important; border-color:#00BCD4 !important;}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}
/*------------reciept------------*/
.actn {
    color: #0ca89d !important;
    text-decoration: none;
}
/*-----accesscontrol-------*/
.fstpnl {
	margin-bottom:2%;
}
.chckbdr {
	box-shadow: 0px 0px 4px #ccc;
border-radius: 4px;
	padding: 10px;
	max-height: 244px;
	overflow: auto;
}