@charset "utf-8";
/* CSS Document */

.loginbg {
	background:url(../images/login-bg.png) center;
}
.loginh {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #fff;
	margin: 2em 0;
}
.loginhh {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #fd9324;
	margin: 1em 0;
	text-align:center;
	}
.mrgnpdng {
	margin:5em 0;
	}
.bxshdw {
	box-shadow: 0 0px 7px rgba(0, 0, 0, 0.25);
	}
	

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #826f47 !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.checkbox label, .radio label {
    color: #533050;
}
.sbmtbtn {
	background-color:#fd9324;
	padding: 2% 9%;
	color: rgb(255, 255, 255);
	margin: 2% auto;
	font-family: 'Open Sans', sans-serif;
	border:none;
	font-size:14px;
}
.sbmtbtn:hover {
	 -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
	background-color:#fd9324;
	color:#fff;
}
.frgt {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #535763;
    margin-bottom: 2em;
	text-decoration:none;
}
.frgt:hover {
	color:#fd9324;
	text-decoration:none;
}
.rgstr {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #533050;
    margin-bottom: 2em;
	float:right;
	text-decoration:none;
}
.rgstr:hover {
	color:#fd9324;
	text-decoration:none;
}