@charset "utf-8";
/* CSS Document */

body {
	padding:0px;
	margin:0px;
	background-color: #f1f4f7 !important;
}
.navbar {
	border-radius: 0px !important;
}
.navbar-inverse {
	background-color: #0AB3C0 !important;
	border: inherit !important;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff !important;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.navbar-brand {
	padding: 1px 9px !important;
}
.nav-tabs {
	font-family: 'Noto Sans', sans-serif;
}
/*----------index---------*/
.uplcv {
	box-shadow: 0px 0px 4px #ccc;
	padding: 10px;
}
.cvof {
	background:#0F3;
}
.no-padding {
	margin: 0px !important;
	padding: 0px !important;
}
.complt {
	background: rgb(6, 217, 149) !important;
	height:80px;
	text-align: center;
}
.complthdr {
	text-align: center;
	padding-top: 20px;
	color:#fff;
	font-family: "Noto Sans", sans-serif;
}
.pmt {
	text-align: center;
	color:#fff;
	font-family: "Noto Sans", sans-serif;
}
.paymt {
	background: rgb(10, 179, 192) none repeat scroll 0% 0% !important;
	height:80px;
	text-align: center;
}
.talk {
	background: #1fa27d !important;
	height:80px;
	text-align: center;
}
.talk1 {
	background: #68c39f !important;
	height:80px;
	text-align: center;
}
.talk2 {
	background: #abb7b7 !important;
	height:80px;
	text-align: center;
}

.talk3 {
	background: #edce8c !important;
	height:80px;
	text-align: center;
}
.totlamt {
	border-bottom: 1px solid #ccc;
	color:#fff;
	font-family: "Noto Sans", sans-serif;
}
.hdr {
	margin-top: 1px !important;
	margin-bottom: 2px !important;
}
.hdr1 {
	margin-top: 0px !important;
}
.widget-left {
	color: rgb(255, 255, 255);
	height:80px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 40px;
	padding-top: 15px;
}
.uplod {
	background: rgb(48, 165, 255) none repeat scroll 0% 0%;
}
.minfo {
	background: rgb(255, 181, 62) none repeat scroll 0% 0%;
}
.reg {
	background: #1ebfae;
}
.indxhdr {
	text-align: center;
	padding-top: 20px;
	color: rgb(179, 179, 179);
	font-family: "Noto Sans", sans-serif;
}
.fsthdr {
	border: 1px solid rgb(204, 204, 204);
	padding: 10px;
	margin-bottom: 20px;
}
.lsthdr {
	text-align:center;
	font-family: 'Roboto', sans-serif;
}
.lastp {
	font-family: 'Lato', sans-serif;
	font-size:16px;
}
.tsmin {
	font-family: 'Lato', sans-serif;
	font-size:16px;
	text-align:center;
}
.teminhdr {
	font-size:17px;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}
.pnl {
	border:inherit !important;
	
}

.panel {
	border-radius: 0px !important;
}
.pnlhdr1 {
	background-color: #dc0000 !important;
}
.pnlhdr2 {
	background-color: #ec6400 !important;
}
.pnlhdr3 {
	background: #f4a002 !important;
}
.pnlhdr4 {
	background: #f2cb0a !important;
}
.pnlhdr5 {
	background: #e6e300 !important;
}
.pnlhdr6 {
	background: #c9eb3c !important;
}
.pnlhdr7 {
	background: #a7f01d !important;
}
.pnlhdr8 {
	background: #03c900 !important;
}
.glyphicon {
	top: 3px !important;
	padding-left: 3px !important;
}
.nav>li>a {
	padding: 10px !important;
}
.nvmg {
	padding-left: 3px;
}
.nvmnu {
	margin-top: 9px;
}
.panel-default > .panel-heading {
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
.panel-heading {
	border-top-left-radius: inherit !important;
	border-top-right-radius: inherit !important;
}
.panel-footer {
	background:#fff !important;
	border-top:hidden !important;
}
.pnlbdr1 {
	border-color: #dc0000 !important;
}
.pnlbdr2 {
	border-color: #ec6400 !important;
}
.pnlbdr3 {
	border-color:#f4a002 !important;
}
.pnlbdr4 {
	border-color:#f2cb0a !important;
}
.pnlbdr5 {
	border-color:#e6e300 !important;
}
.pnlbdr6 {
	border-color:#c9eb3c !important;
}
.pnlbdr7 {
	border-color:#a7f01d !important;
}
.pnlbdr8 {
	border-color:#03c900 !important;
}
.tbcnt {
	margin-top:2%;
}
.active1 {
	background:#dc0000;
}
.active2 {
	background: #ec6400;
}
.active3 {
	background: #f4a002;
}
.active4 {
	background: #f2cb0a;
}
.active5 {
	background: #e6e300;
}
.active6 {
	background: #c9eb3c;
}
.active7 {
	background: #a7f01d;
}
.active8 {
	background: #03c900;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #fff;
	background-color:inherit !important;
}
/*------My info-----*/
.form-control {
	border-radius: 2px !important;
}
.exp {
	font-family: 'Roboto', sans-serif;
}
.ablty {
	font-family: 'Roboto', sans-serif;
	font-size:16px;
}
.control-label {
	font-family: 'Raleway', sans-serif;
}
.prvmg {
	box-shadow: 0px 0px 4px rgb(204, 204, 204);
	text-align: center;
	padding: 5px;
}
hr {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
.btn-default {
	background-color: #e9ecf2 !important;
	border-color: #e9ecf2 !important;
}
.btn {
	border-radius: 2px !important;
	font-family: 'Open Sans', sans-serif;
}
.btn-success {
	background-color: rgb(6, 217, 149) !important;
	border-color: rgb(6, 217, 149) !important;
}
.tblfnt {
	font-family: 'Lato', sans-serif;
}
#quote-carousel 
{
  padding: 0 10px 30px 10px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
/* End carousel */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
