@charset "utf-8";
/* CSS Document */
body {
	padding: 0px;
	margin: 0px;
}
.row {
    margin-top: inherit !important;
}
/*------------nav button---------------*/
.navbar-inverse .navbar-toggle {
    border-color: #333;
	background-color:#fd9324;
}
/*----------social icon------------*/
.sclbg {
	background-color: #533050;
	height: 30px
}
.scl {
	width: 32px;
	float: left;
}
.fltrgtmrgn {
	border-right: 1px dotted #a59b8f;
}
/*---------------log in----------------*/
.login {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #535763;
	font-weight: normal;
	float: right;
	margin-right: 3%;
	margin-top: 1%;
	text-decoration:none;
}
.login:hover {
	color: #fd9324;
	text-decoration:none;
}
/*------------logo------------------*/
.logobg {
	background-color:#f7f7f7;
	display:block;
}
.logobgs {
    background-color: #f7f7f7;
    display: none;
}
.ph {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:normal;
	color:#000;
	text-align:center;
	margin:3px 0;
	}
.phlr {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:normal;
	color:#535763;
	text-align:center;
	margin:8.40% 0;
}
.phlr:hover {
	color:#fd9324;
	text-decoration:none;
}
/*---------------menubar--------------*/
/*--
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
--*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	background-color: inherit !important;
	border-bottom: 3px solid #fd9324;
}
.navbar-inverse .navbar-nav > li > a {
    color: #535763 !important;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:normal;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #fd9324 !important;
}
.navbar-inverse {
    background-color: #FFF !important;
    border-color:inherit !important;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: none !important;
	border-radius: 0px !important;
	box-shadow: 0 8px 9px -6px rgba(0, 0, 0, 0.25);
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px !important;
    font-size: 15px;
    line-height: 9px;
}
.navbar-right .dropdown-menu {
    right: inherit !important;
    left: inherit !important;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: inherit !important;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #535763 !important;
    background-color: transparent;
}

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #fff; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }


/*--hr--*/
.mainhr {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	border: 0;
	border-top: 1px solid #fd9324 !important;
}
.mrgntp {
	margin-top:8px;
}
.mrgnmnubtm {
	margin-bottom:5px;
}
/*-----------carousel----------------*/
.mrggntp {
	margin-top:10%;
	
}
/*---------service-----------*/
.srvcbg {
	height:43px;
	background-color:#f5f5f5;
	display:block;
}
.srvcimg {
	position:relative;
	bottom:100px !important;
	z-index:99999;
}
.service {
	height:100px;
}
.srvcbgs {
	display:none;
}
.cntsofer {
	    font-family: "Open Sans",sans-serif;
    font-size: 18px;
	text-align:center
}
.img1 {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.img1:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
/*---------------about--------------------*/
.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar { 
    width: 100%;
    padding: 30px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:normal;
    color: #565656;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar a:hover { 
    cursor: default;
    background-color: #f5f5f5 !important; 
    color: #533050 !important; 
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #533050 !important; 
    color: #fff !important; 
}
.nav-sidebar .active a:hover {
    background-color: #533050 !important;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: #ffffff;
    background-color: #E50000;
    border-color: #E50000;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#0b56a8 !important;
    border-color: #0b56a8;
}
article h2{color:#333333;}
h2{color:#0b56a8;}
 .margin10{margin-bottom:10px; margin-right:10px;}
 
 .container .text-style
{
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px;
}
/*----------about-----------*/
.abouthed {
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	color:#fd9324;
	text-align:center;
	margin-top:3%;
}
.aboutpara {
	font-family: 'Open Sans', sans-serif;
font-size: 14px !important;
color: #535763 !important;
margin-bottom: 3%;
font-weight: 500;
text-align:center;
line-height: 2em;
}
.boutmargn {
	margin-bottom:1%;
}
/*---------recent------------*/
.recentbg {
	background:#666;
}
.colmd-bg {
	background-color:#fff;
}
.rcrnrthead {
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	color:#fd9324;
	text-align:center;
	margin-top: 1em;
	margin-bottom: 2%;
	}
.rcntntp {
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	color:#fff !important;
	margin-bottom:1em;
}
.rncntpara {
	font-family: 'Open Sans', sans-serif;
	font-size:14px !important;
	color:#e9e9e9 !important;
	margin-bottom:3%;
	font-weight:500;
	text-align:justify;
}
.mainbtn {
	display: inline-block;
	padding: 6px 0px !important;
	margin-bottom: 2em;
	font-size: 14px;
	color:#fff !important;
	text-decoration:none;
}
.mainbtn:hover {
	color:#fd9324 !important;
	text-decoration:none;
}
.glyphicon {
	color:#fff !important;
}
/*---------recent------*/
/* Global */
.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}
.carousel-control {
    position: absolute;
    top: 59em !important;
    bottom: 0;
    left: 0;
    width: 5% !important;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: inherit;
    background-color: #fff !important;
    filter: inherit !important;
    opacity: .5;
}
/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}
.thumbnail {
    display: block;
    padding: 0px !important;
    margin-bottom: 1em !important;
    line-height: 1.42857143;
    background-color:inherit !important;
    border:none !important;
    border-radius: 0 !important;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

ul.thumbnails { 
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

::selection { background: #ff5e99 !important; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

/*------------mani-service------------*/
.rote {
	  background:#fff;
  }
  .rote:hover {
	   -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
.mnsrvc {
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	color:#fd9324;
	text-align:center;
	margin:2% 0;
}
.mnssrvcp {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#565656;
	text-align:center;
	margin-bottom:2em;
	line-height: 2em;
}
.srvcimgmrgn {
	margin-top:0em;
	margin-bottom:1em;
}
.msrvch {
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	color:#533050 !important;
	margin:1em 0;
	text-align:center;
}
.srvcbrdr {
	border-right:none;
}
.srvcbbrdr {
	border-bottom:none;
	margin:1em 0;
}
.mrgnbtm{
	margin-bottom:3em;
}
/*-----------------apply now-------------------*/
.aplybg {
	background:url(../images/service-bg.png) center fixed;
}
.aplyp {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#fff;
	text-align:center;
	margin-bottom:2%;
}
.subbtn {
	background: transparent none no-repeat scroll 0% 0%;
	border: 2px solid #FFF;
	padding: 5px 3%;
	border-radius: 0px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	margin-top: 1%;
	margin-bottom: 2em;
}
.subbtn:hover {
	background-color:#fff;
	color:#fd9324;
}
.form-control {
	border: 1px solid #fd9324 !important;
	border-radius:0px !important;
	font-style:italic;
	
}
/*----------3 working process------------*/
.btmcol-md {
	margin-bottom:3em;
}
.wrkp {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#565656;
	text-align:center;
	margin-bottom:2em;
}
.col-bg {
	background-color:#533050;
}
.stepp {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	color: #fff !important;
	margin: 1% 0;
	text-align: center;
}
.steprvch {
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	color:#535763 !important;
	margin-top:1em;
	margin-bottom:1em;
	text-align:center;
}
.stepbrdr {
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.stepsrvcp {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #565656;
    text-align: center;
    margin-bottom: 1em;
	font-weight:lighter;
	line-height:1.50em;
}
/*-------extra-srvc-----------*/
.extrsrvc {
	margin:3px 0;
}
/*-----------------foooer-bg-------------------*/
.lgmrngs {
	margin-top: 17%;
margin-bottom: 9%;
	}
.ftrbg {
	background-color:#3a3531;
}
.ftrpara {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    color: #fff !important;
    text-align: justify;
	margin:1em 0;
}
.ftrgtmrgn {
	border-right: 2px solid #3a3531;
}
.ftrhdr {
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	color:#fff !important;
	margin-top:3em;
	margin-bottom:2.50em;
}
.ftrkp {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#fff;
	margin-bottom:1em;
}
.mailftrkp {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#535763;
	margin-bottom:1em;
}
.ftrlinkp {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#fff;
	margin-bottom:1em;
	text-decoration:none;
}
.ftrlinkp:hover {
	color:#fd9324;
	text-decoration:none;
}
/*-------------copyright------------------------*/
.strsrvc {
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	color:#533050;
	text-align:center;
	margin:1% 0;
}
/*----------services--------------*/
.cntnr {
	margin-bottom:2em;
}
.mainmrgn {
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 2em;
	margin-left: 0px;
}
.srvched {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fd9324;
	margin:0px;
}
.srvcpara {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #565656;
    text-align: justify;
    line-height: 2em;
    margin: 2% 0;
}
.srvchdr {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #535763;
    margin-top: 1em;
}
/*-------contact-------*/
.contcth {
    font-family: 'Open Sans', sans-serif;
font-size: 20px;
color: #fd9324 !important;
margin: 1em 0;
}
.fromp {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #535763;
    margin-bottom: 1em;
}
.contmrgntp {
	margin-top:2em;
}
/*------blog-------*/
.loginbg {
	background:;
}
.loginh {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #fd9324;
	margin-top:2%;
}
.blgntp {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #533050 !important;
    margin-bottom: 1em;
}
.blgpara {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #565656;
	text-align:justify;
}
.dtbg {
	background-color:#fd9324;
	padding:1%;
}
.blgdte {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fff !important;
    margin: 1em 0;
	text-align:center;
}
.blgdt {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #565656 !important;
    margin: 1% 0;
	text-align:center;
}
.blogtab {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #565656;
	margin:1% 0;
}
.blogtpara {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #565656;
    text-align: justify;
	margin:1em 0;
}
.tabtpmrgn {
	margin-top:4em;
}
.blogttlmrgn {
	margin:2em 0;
}
/*-------Canada--------*/
.cndahdr {
	font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fd9324;
	margin:0px;
	text-align:center;
}
.cndapara {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #565656;
	text-align:center;
	line-height: 2.10em;
	margin: 2% 0;
}
.cndaswmhdr {
	font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fd9324;
	text-align:center;
	margin-top:1em;
}
.gird {
	padding: 1.9em;
}
.clnmrond {
	background:#fd9324;
	padding:15px;
	text-align: center;
color: #fff;
font-family: 'Open Sans', sans-serif;
font-weight: 800;
font-size: 19px;
}
.clnmrond:hover {
	background:#fff;
	color: #fd9324;
	border:1px solid #fd9324;
}
.candasw {
	font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #565656;
text-align: left;
line-height: 2.10em;
margin: 2% 0;
}
.candswhdr {
	font-family: "Open Sans",sans-serif;
font-size: 18px;
color: rgb(83, 87, 99) !important;
}
.extrypara {
	font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #565656;
text-align: center;
margin: 2% 0;
line-height: 1.50em;
}
.exptryhdr4 {
	font-family: "Open Sans",sans-serif;
font-size: 18px;
color: rgb(83, 87, 99) !important;
text-align:center;
}
.exptrypgrm {
	font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #565656;
text-align: left;
line-height: 2em;
margin: 2% 0;
}
.mxmwdth {
	max-width:250px;
}
.wrkprgclr {
	color: #337ab7;
}
.cndashdow {
	box-shadow: 0px 0px 4px;
	height: 392px;
}
.cndashdow:hover {
	border:1px solid #ccc;
}
.nonim {
	font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #fff;
text-align: center;
margin: 2% 0;
line-height: 1.50em;
}
.career {
	    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fd9324;
    text-align: left;
    margin-top: 3%;
}
.pnl {
border: inherit !important;
}
.pvncl {
	font-family: 'Open Sans', sans-serif;
font-size: 17px;
color: #535763;
margin-bottom: 1em;
}

.aply {
	background-color: #fd9324 !important;
padding: 2% 9% !important;
color: rgb(255, 255, 255);
margin: 2% auto !important;
font-family: 'Open Sans', sans-serif;
border: none;
font-size: 16px !important;
border-radius: inherit !important;
}
.aplybtn {
	text-align: center;
}
.spk {
	color: rgb(255, 255, 255);
margin: 2% auto !important;
font-family: "Open Sans",sans-serif;
text-align: center;
font-size: 18px;
}
.spkb {
	color: rgb(83, 87, 99) !important;
margin: 2% auto !important;
font-family: "Open Sans",sans-serif;
text-align: center;
font-size: 18px;
}
.enqmrng {
	margin-bottom: 20px;
}
.covr {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	padding: 10px;
	color: rgb(43, 169, 214);
}
.covr:hover {
	background:rgb(0, 204, 255);
	color:#fff;
}
#theArt {
  padding: 1.5em;
  overflow: hidden;
  margin: auto;
}

.artGroup {
  display: block;
  width: 100%;
  height: 200px;
  position: relative;
  margin: 4%;
  float: left;
}

.artwork {
  display: block;
  width: 100%;
  height: 100%;
}

.artGroup img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.artGroup .detail {
  display: block;
   z-index: 10;
    background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.artGroup .detail h3 {
  font-family: "Open Sans",sans-serif;
font-size: 18px;
text-align: center;
  color: orange;
}

.artGroup .detail p {
  font-family: "Open Sans",sans-serif;
  text-align: left;
  padding: 5%;
}

article {
  clear: both;
  font-family: "Open Sans",sans-serif;
  margin: 2em auto;
  max-width: 600px;
}

/* Older Browsers */

.artGroup.slide { overflow: hidden; }

.artGroup.slide .detail { bottom: -364px; }

/* Newer Browsers */

.artGroup.flip {
  -webkit-perspective: 800px;
  perspective: 800px;
}

.artGroup.flip .artwork {
  -webkit-transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.artGroup.flip .detail,
.artGroup.flip .theFlip {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.artGroup.flip img,
.artGroup.flip .detail {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/**********************map***************************************/
/* all map containers must be full height */
.gmap { height: 300px; width: 100%; margin-top: 0px ;margin-bottom:0px}