@charset "utf-8";
/* CSS Document */
@media (max-width:980px) {
.search-box {
    margin: 1em 0.1em 0 1em;
}
.lomg {
	width: 178px;
}
.logo a {
    padding: 0em;
	position: absolute;
}
}
@media (max-width:800px) {
.lomg {
	width: 123px;
	margin-top: 6%;
}
.logo a {
   padding: 0.1em 0.1em;
position: absolute;
left: 50px;
width: 24%;
}
.search-box {
    width: 190px;
    margin: 1em 1px 0 1em;
}
button#showLeftPush {
    width: 40px;
}
li.dropdown.head-dpdn a.dropdown-toggle {
    padding: 3em 1.299em;
}
}
@media (max-width: 768px){
	li.dropdown.head-dpdn {
    padding: 1.2em 0;
}
button#showLeftPush {
    padding: 0.1em;
width: 38px;
position: absolute;
right: 93%;
}
li.dropdown.head-dpdn a.dropdown-toggle {
    padding: 1em 1.3em 1.1em 1em;
}
.profile_details_drop a.dropdown-toggle {
    padding: 0.3em 1em 0 0em;
}
.logo a {
    padding: 0em 0em 0em 0.1em;
    position: absolute;
    left: 39px;

}
.logo {
    text-align: center;
    float: left;
    height: 60px;
}
.search-box {
    margin: 1em 0 0 0;
	position: absolute;
	left: 29%;
width: 23%;
}
.lomg {
	width: 150px;
	margin-top: 5%;
}
}
@media (max-width: 320px){
.logo a {
   padding: 0.2em 0.1em !important;
left: inherit;
}
.header-section {
	height: 175px;
}
.header-right {
    margin: 0;
}
.sidebar .arrow {
    float: right;
    font-size: 13px;
    padding-top: 3px !important;
}
li.dropdown.head-dpdn {
    padding: 1.1em 0 !important;
}
.rothdr {
	margin-top: 3em !important;
	width: 100% !important;
}
.search-box {
   margin: 0.0em 3.5em !important;
position: inherit;
left: initial;
width: -moz-max-content;
}
li.dropdown.head-dpdn a.dropdown-toggle {
    padding: 0.6em 1.1em 0.4em 0.7em !important;
}
.profile_details_drop a.dropdown-toggle {
    padding: 0 1.0em 0 0 !important;
}
.cbp-spmenu-vertical {
    padding: 0.5em 0;
    width: 203px !important;
 }
button#showLeftPush { 
	padding: 0.1em;
	width: 38px;
	position: inherit;
	right: inherit;
	}

}
