@charset "utf-8";
/* CSS Document */

.stdywt {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #535763;
    margin-top: 0%;
	margin-right: 0px;
	margin-bottom: 2%;
	margin-left: 0px;
}
.stdntsp {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #535763 !important;
    margin: 1em 0;
}
.stdntspara {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    color: #565656 !important;
    margin:2% 0;
    font-weight: 500;
    text-align: justify;
	line-height:2em;
}
.stdnmainbtn {
	display: inline-block;
	padding: 6px 0px !important;
	margin-bottom: 2em;
	font-size: 14px;
	color:#826f47 !important;
	text-decoration:none;
}
.stdnmainbtn:hover {
	color:#fd9324 !important;
	text-decoration:none;
}
.rgstrnw {
	background: #fd9324;
    padding: 1.50% 3%;
    color: #fff;
    text-decoration: none;
}
.rgstrnw:hover {
	background: #fd9324;
    color: #fff;
    text-decoration: none;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
}
.rgstrnw:active {
	background: rgb(83, 48, 80) none repeat scroll 0% 0%;
    padding: 1% 3%;
    color: #826f47;
    text-decoration: none;
}
#custom_carousel .item {

    color:#000;
    background-color:inherit;
    padding:20px 0;
}
#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:inherit;
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px;
}
#custom_carousel .controls li:hover {
    background-color:inherit !important;
}
#custom_carousel .controls li.active {
    background-color:#eee;
    border-top:3px solid orange;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    margin-top:5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px !important;
	color: #565656 !important;
	margin-bottom: 3%;
	font-weight: 500;
}
.cntmrgn {
	margin-bottom:2em;
}